// This is the box the wraps the buttons together
.wrapper.panel.panel-default
    .panel-heading
        | Navigation
    .panel-body
        ul.list-unstyled.list-fixed
            li(ng-show="buttonRequired('back')")
                a.btn.btn.btn-primary.btn-block(href="#/") Back

            li(ng-show="buttonRequired('create')")
                a.btn.btn.btn-success.btn-block(href="#/create") Create

            li(ng-show="buttonRequired('edit')")
                a.btn.btn.btn-default.btn-block(href="#/edit/{{currentElement}}") Edit

            li(ng-show="buttonRequired('clone')")
                a.btn.btn.btn-default.btn-block(href="#/clone/{{currentElement}}") Clone

            li(ng-show="buttonRequired('access')")
                a.btn.btn.btn-default.btn-block(ng-click="changeAccess()") Sharing

            li(ng-show="buttonRequired('delete')")
                a.btn.btn.btn-danger.btn-block(ng-click="deleteElement()") Delete

            li(ng-show="buttonRequired('cancel')")
                a.btn.btn.btn-danger.btn-block(ng-click="cancel()") Cancel

            li(ng-show="buttonRequired('save')")
                a.btn.btn.btn-success.btn-block(ng-click="save()") Save