.panel.panel-default
    .panel-heading
        | {{ labels.title }}
    .panel-body
        .alert.alert-info(ng-show="data == null")
            | This object will be created with public edit and view rights


        fieldset.col-sm-12
            legend
                | Fields with
                span.required-field  *
                |  are required
                small
                    .checkbox.pull-right
                        label(for="showAll")
                            input(type="checkbox", ng-model="showOptional", id="showAll")
                            | Show optional fields?
                            i &nbsp; {{ showOptional ? 'Yes' : 'No' }}
            form.form-horizontal(action='#', method='POST', role='form')
                div(ng-repeat="scheme in schemes")
                    form-element(scheme="scheme", show="showOptional")
    .panel-footer
        button.btn.btn-primary.pull-right(ng-click="save()") Save
        button.btn.btn-danger.pull-right(ng-click="cancel()") Cancel