head
    //
        Stylesheets
    link(rel="stylesheet" type="text/css" href="css/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="css/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet" type="text/css" href="css/animate.min.css")
    link(rel="stylesheet" type="text/css" href="css/angular-ui-select/dist/select.min.css")
    //
        This MUST appear AFTER bootstrap css, or else we can't overwrite bootstrap's default css
        if we need to.
    link(rel="stylesheet" type="text/css" href="css/style.min.css")

    //
        Scripts
    script(src="js/angular/angular.min.js")
    script(src="js/angular-ui-select/dist/select.min.js")
    script(src="js/angular-route/angular-route.min.js")
    script(src="js/angular-animate/angular-animate.min.js")
    script(src="js/angular-mocks.js")
    script(src="js/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="js/app.min.js")

