.row
    .col-sm-12
        .panel.panel-default
            .panel-heading
                | Filtering Data Elements
            .panel-body
                form.form-horizontal(role="search", novalidate)
                    .col-sm-6
                        .form-group
                            label.col-sm-12(for="query") Search by
                            .col-sm-12
                                input.form-control(type="text" ng-model="listFilter", id="query")
                    .col-sm-6
                        .form-group
                            label.col-sm-12(for="domainType") Domain type
                            .col-sm-12
                                select.form-control(id="domainType", ng-model="domainFilter.domainType")
                                    option(value="") Both
                                    option(value="AGGREGATE") Aggregate
                                    option(value="TRACKER") Tracker
                        //
                            button.btn.btn-default.navbar-btn.navbar-right Sort by
                                span.caret
.row
    .col-sm-12
        .panel.panel-default
            .panel-body
                table.table.table-hover
                    thead
                        tr
                            th Name
                            th Domain
                            th Operator
                            th Type
                            th Delete
                    tbody
                        tr.list-row(ng-repeat="dataElement in dataElements | filter:domainFilter:strict | filter:listFilter | limitTo : 20", ng-click="$event.preventDefault(); showElement(dataElement);")
                            td {{dataElement.name}}
                            td {{dataElement.domainType | lowercase}}
                            td {{dataElement.aggregationOperator}}
                            td {{dataElement.type}}
                            td(ng-click="$event.preventDefault(); deleteElement($index, dataElement.id);", aria-label="delete")
                                span.pull-right.glyphicon.glyphicon-trash(aria-hidden="true")
            //
                .list-group
                    .list-group.clearfix
                        .col-sm-7 Name
                        .col-sm-2 Domain
                        .col-sm-1 Operator
                        .col-sm-1 Type
                    a.list-group-item.clearfix(ng-repeat="dataElement in dataElements | filter:domainFilter:strict | filter:listFilter | limitTo : 20", ng-href="#/show/{{dataElement.id}}", ng-class="dataElement.active ? 'active' : ''")
                        .col-sm-7 {{dataElement.name}}
                        .col-sm-2 {{dataElement.domainType | lowercase}}
                        .col-sm-1 {{dataElement.aggregationOperator}}
                        .col-sm-1 {{dataElement.type}}
                        .col-sm-1(ng-click="$event.preventDefault(); deleteElement($index, dataElement.id)", aria-label="deleteI")
                            span.pull-right.glyphicon.glyphicon-trash(aria-hidden="true")
