.row
    .col-sm-12
        .panel.panel-default
            .panel-heading
                | Filtering Data Elements
            .panel-body
                form.form-horizontal(role="search", novalidate)
                    .col-sm-6
                        .form-group
                            label.col-sm-12(for="query") Search by
                            .col-sm-12
                                input.form-control(type="text" ng-model="listFilter", id="query")
                    .col-sm-6
                        .form-group
                            label.col-sm-12(for="domainType") Domain type
                            .col-sm-12
                                select.form-control(id="domainType")
                                    option Aggregate
                                    option Tracker
                        //
                            button.btn.btn-default.navbar-btn.navbar-right Sort by
                                span.caret
.row
    .col-sm-12
        .list-group
            .list-group-item.clearfix(ng-repeat="dataElement in dataElements | filter:listFilter | limitTo : 20", ng-click="selectElement(dataElement)", ng-class="dataElement.active ? 'active' : ''") {{dataElement.name}}
                .pull-right
                    a.list-icon-link(ng-href="#/clone/{{dataElement.id}}")
                        i.flaticon-copy12
                    a.list-icon-link(ng-href="#/" ng-click="deleteElement($index, dataElement.id)")
                        i.flaticon-delete30
                    a.list-icon-link(ng-href="#/edit/{{dataElement.id}}")
                        i.flaticon-edit26