.row
    .col-sm-12
        .panel.panel-default
            .panel-heading
                | Filtering Data Elements
            .panel-body
                form.form-horizontal(role="search", novalidate)
                    .col-sm-6
                        .form-group
                            label.col-sm-12(for="query") Search by
                            .col-sm-12
                                input.form-control(type="text" ng-model="listFilter", id="query")
                    .col-sm-6
                        .form-group
                            label.col-sm-12(for="domainType") Domain type
                            .col-sm-12
                                select.form-control(id="domainType", ng-model="domainFilter")
                                    option(value="") Both
                                    option(value="AGGREGATE") Aggregate
                                    option(value="TRACKER") Tracker
                        //
                            button.btn.btn-default.navbar-btn.navbar-right Sort by
                                span.caret
.row
    .col-sm-12
        .panel.panel-default
            .panel-body
                table.table.table-hover
                    thead
                        tr
                            th Name
                            th Domain
                            th Operator
                            th Type
                            th Delete
                    tbody
                        tr.list-row(ng-repeat="dataElement in dataElements | orderBy: 'name' | filter:domainFilter:strict | filter:listFilter | limitToPage", ng-click="showElement(dataElement);")
                            td {{dataElement.name}}
                            td {{dataElement.domainType | lowercase}}
                            td {{dataElement.aggregationOperator}}
                            td {{dataElement.type}}
                            td
                                span.pull-right.glyphicon.glyphicon-trash(ng-click="$event.stopPropagation(); deleteElement(dataElement.id);")
                nav
                    ul.pagination
                        li(ng-class="currentPage == 0 ? 'disaled' : ''")
                            span(ng-click="prevPage();") &laquo;
                        li.disabled
                            span {{pageCurrent + 1}}/{{pageMax}}
                        li(ng-class="currentPage == pageMax ? 'disabled' : ''")
                            span(ng-click="nextPage();") &raquo;
