div(class="panel panel-default")
    div(class="panel-body")
        //Shows every elements within the dataelement. Default is only the required elements to show
        button(type="button" class="btn btn-primary") Show All
        //TODO:Should only be shown during edit
        button(type="button" class="btn btn-primary") Clear
        a.list-icon-link()
            i.flaticon-copy12
        a.list-icon-link()
            i.flaticon-delete30
        a.list-icon-link()
            i.flaticon-edit26
