.modal-header
    .modal-title
        | Title
.modal-body
    div(ng-repeat="(key, value) in metaData")
        p {{value}}
.modal-footer
    button.btn.btn-primary.pull-right(ng-click="save()") Save
    button.btn.btn-danger.pull-right(ng-click="cancel()") Cancel