.panel.panel-primary
        .panel-heading.text-center
                | {{ labels.name }}
        .panel-body
               div(ng-repeat="(key, value) in labels")
                       .panel.panel-info.text-center
                               .panel.panel-heading
                                       | {{key}}
                               .panel-body
                                       | {{value}}
                                       //TOOD: Traverse through array in dataSets


