.panel.panel-primary
        .panel-heading.text-center
                | {{ labels.name }}
        .panel-body
               div(ng-repeat="(key, value) in labels")
                       .panel.panel-info
                               .panel.panel-heading
                                       | {{key}}
                               .panel-body
                                       div(ng-if="key == 'dataSets' ")
                                               div(ng-repeat="(key2, value2) in value")
                                                       | {{value2.name}}
                                       div(ng-if="key != 'dataSets'")
                                               | {{value}}


