.required-field {
    color: red;
}

body {
    padding: 20px;
}

.contextual-menu {
    width: 100%;
    height: 100px;
}

.list-fixed li {
    margin-bottom: 10px;
}

.panel-footer {
    min-height: 55px !important;
}

.panel-footer button {
    margin-left: 10px !important;
}

.loading-gif {
    display: block;
    width: 100%;
    position: absolute;
    background: url("../images/ajax-loader.gif") no-repeat;
    background-position: center;
    height: 500px;
    text-align: center;
    padding-top: 220px;
    font-size: 18px;
}