doctype html
html(ng-app="dataElementBulkEditorApp" ng-init="fullSize=true")
    include views/head.jade

body
    .container(ng-controller="ListController")
        .row
            .col-sm-12
                nav.navbar.navbar-default
                    .container-fluid
                        .navbar-header
                            a.navbar-brand(href="#/") Wow... such list
                        form.navbar-form.navbar-right(role="search" novalidate)
                            .form-group
                                input.form-control(type="text" ng-model="listFilter")
                                input(type="submit" value="Filter")
                        button.btn.btn-default.navbar-btn.navbar-right Sort by
                            span.caret

        .row
            div(ng-class="fullSize ? 'col-sm-12' : 'col-sm-3'")
                .list-group
                    .list-group-item.clearfix(ng-repeat="dataElement in dataElements | filter:listFilter | limitTo : 20", ng-click="selectElement(dataElement)", ng-class="dataElement.active ? 'active' : ''") {{dataElement.name}}
                        .pull-right
                            a.list-icon-link(ng-href="#/clone/{{dataElement.id}}")
                                i.flaticon-copy12
                            i.flaticon-delete30(ng-click="deleteElement($index)")
                            a.list-icon-link(ng-href="#/edit/{{dataElement.id}}")
                                i.flaticon-edit26

            .col-sm-9(ng-view, ng-show="!fullSize")
