doctype html
html(ng-app="dataElementBulkEditorApp")
    include views/head.jade

body
    .container
        loader.col-sm-9
            .content(ng-view)
        .col-sm-3
            .contextual-menu
