head
    link(rel="styleSheet" type="text/css" href="css/style.min.css")
    script(src="js/angular/angular.min.js")
    script(src="js/app.min.js")

body
    h1 hei livereload
    p.
        jeg har savnet deg....

