doctype html
html(ng-app="dataElementBulkEditorApp")
    include views/head.jade

body
    .container
        h1 Midlertidig side
            br
            small Overskriv når liste-siden er klar!
        .row
            .col-sm-12
                p Her kommer liste-biten og filtrering\søk
                ul
                    li
                        a(href="#/show/123") Show dataElement
                    li
                        a(href="#/create") Create\Edit dataElement
            .col-sm-12(ng-view)