doctype html
html(ng-app="dataElementBulkEditorApp" ng-init="fullSize=true")
    include views/head.jade

body
    .container
        h1 Midlertidig side
            br
            small Overskriv når liste-siden er klar!
        .row(ng-controller="ListController as list" ng-class="fullSize ? 'col-sm-12' : 'col-sm-3'")
            .list-group
                a.list-group-item(ng-href="#/show/{{dataElement.id}}" ng-repeat="dataElement in list.dataElements") {{dataElement.name}}
                    span.glyphicon.glyphicon-edit.pull-right(ng-href="#/edit/{{dataElement.id}}")
                //
                    I don't know why these clyphicons dont work.

            .col-sm-12(ng-view)
