doctype html
html(ng-app="dataElementBulkEditorApp" ng-init="fullSize=true")
    include views/head.jade

body
    .container(ng-controller="ListController as list")
        .row
            .col-sm-12
                nav.navbar.navbar-default
                    .container-fluid
                        .navbar-header
                            a.navbar-brand(href="#/") Wow... such list
                        form.navbar-form.navbar-right(role="search")
                            .form-group
                                input.form-control(type="text" placeholder="Filter" ng-model="filter")
                        button.btn.btn-default.navbar-btn.navbar-right Sort by
                            span.caret

        .row
            div(ng-class="fullSize ? 'col-sm-12' : 'col-sm-3'")
                ul.list-group
                    li.row.list-group-item.container-fluid(ng-repeat="dataElement in list.dataElements")
                        a(ng-class="fullSize ? 'col-sm-8' : 'col-sm-7'" ng-href="#/show/{{dataElement.id}}") {{dataElement.name}}
                        a.col-sm-1(ng-href="#/edit/{{dataElement.id}}")
                            i.flaticon-edit26
                        a.col-sm-1(ng-href="#/delete/{{dataElement.id}}")
                            i.flaticon-delete30
                        a.col-sm-1(ng-href="#/clone/{{dataElement.id}}")
                            i.flaticon-copy12

            .col-sm-9(ng-view, ng-show="!fullSize")
